<nav class="back-primary navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rails Budget</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse" id="navbarToggleExternalContent">
  <div class="back-primary p-4">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn" %>
    <%= link_to "Login", new_user_session_path, class: "btn" %>
  </div>
  </div>
</nav>
